@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family= Bebas +Neue & display=swap');
@font-face {
    font-family: 'Android';
    src: url(fontes/idroid.otf) format('opentype');
}
*{
    margin: 0px;
    padding: 0px;
}

:root{
--cor00:#5adab3;
--cor01:#83e1ad;
--cor02:#2fa866;
--cor03:#1a5c37;
--cor04:#063d1e;
--cor05:#042512;

--fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
--fonte-destaque:'Bebas Neue', sans-serif;
--fonte-android: 'Android', sans-serif;
}
body{
    background-color: #c5ebd6;
}
header > h1{
    font-family: var(--fonte-destaque);
    color: white;
    margin-bottom: 20px;
    font-size: 3em;
    
    
}
main{
    min-width: 300px;
    max-width: 800px;
    background-color: white;
    margin: auto;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.425);
    margin-bottom: 30px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;    
    
}
iframe{
   align-items: center;
}
main a{
    text-decoration: none;
    background-color: var(--cor01);
}
main a:hover{
    text-decoration: underline;
}
main p {
    margin: 15px 0px;
    text-align: justify;
    line-height: 2em;
    text-indent: 30px;
    font-size: 1em;
}
main img{
    width: 100%;
}
main h1{
    font-family: var(--fonte-android);
    color: var(--cor03);
    background-image: linear-gradient(to right, var(--cor01), transparent);
}
main h2{
    color: var(--cor03);
    background-image: linear-gradient(to right, var(--cor01), transparent);
}

nav{
    background-color: var(--cor05);
    padding: 10px;
    box-shadow: 0px 7px 9px rgba(0, 0, 0, 0.486);
}
nav > a{
    color: white;   
    padding: 10px;
    text-decoration: none;
    
}
nav > a:hover{
    background-color: var(--cor03);
    color: var(--cor05);
    border-radius: 05px;
    
}
main h2{
    font-family: var(--fonte-android);
}
header{
    background-color: var(--cor04);
    min-height: 150px;
    text-align: center;
    padding-top: 20px;
    background-image: linear-gradient(to bottom, var(--cor03), var(--cor05));
    
}
header > p{
    color: white;
    font-family: var(--fonte-padrao);
    font-size: 1.2em;
    max-width: 500px;
    margin: auto;
    padding-right: 10px;
    scroll-padding-left: 10px;
    text-decoration: underline;
}
footer{
    background-color: var(--cor05);
    color: white;
    padding: 8px;
    text-align: center;
    
}
footer  a{
    text-decoration: none;
    color: #2fa866;
    text-align: center;
}
footer a:hover{
    color: #83e1ad;
    text-decoration: underline;
}
main img.pequena{
    max-width: 300px;
    margin: auto;
    display: block;
}
aside h3{
    background-color: #063d1e;
    color: white;
    padding: 5px;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
    text-align: center;
    color: white;
    


}
aside h3:hover{
    text-decoration: underline;
}
aside {
    background-color: #2fa866;
    border-radius: 7px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.514) ;
}
aside > ul{
    list-style-position: inside;
    columns: 2;
    list-style-type: "✔️";
    margin: 5px;
}
aside p{
    margin: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
div.video > iframe{
    position: absolute;
    top: 5% ;
    left: 5%;
    width: 90%;
    height: 90%;
}
div.video{
    background: #1a5c37;
    margin: 0px -20px 30px -20px;
    padding: 20px;
    position: relative;
    padding-bottom: 58%;
}